@tailwind base;
@tailwind components;
@tailwind utilities;


/* /* For Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FAE084;
    /* color of the scrollbar thumb */
    border-radius: 10px;
    /* roundness of the scrollbar thumb */
    border: 3px solid #f1f1f1;
    /* creates padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #FAE084;
    /* color of the scrollbar thumb on hover */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    /* makes the scrollbar thinner */
    scrollbar-color: #FAE084 #f1f1f1;
    /* thumb and track color */
}

.active-link {
    @apply text-primary border-b-2 border-primary font-semibold;
}

.custom-carousel-indicators .mantine-Carousel-indicator {
     @apply bg-secondary;
}

.custom-carousel-indicators .mantine-Carousel-indicator[data-active] {
    @apply bg-primary;
}